aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
async-timeout
asyncpg
attrs
certifi
frozenlist
greenlet
idna
magic-filter
multidict
pip
pydantic
pydantic_core
python-dotenv
SQLAlchemy
typing_extensions
yarl
